---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

blockquote.epigraph footer {
  text-align: right;
  margin-top: 0.5em;
  font-size: 0.9em;
}

@media print {
  @page {
    size: landscape;
    margin: 0.5in;
  }

  .rubric-print-page table.rubric-print {
    width: 100%;
    border-collapse: collapse;
    font-size: 9pt;
  }

  .rubric-print-page table.rubric-print th,
  .rubric-print-page table.rubric-print td {
    border: 1px solid #000;
    padding: 4px;
    vertical-align: top;
  }

  .rubric-print-page table.rubric-print th {
    text-align: left;
    font-weight: bold;
  }
}
