---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

blockquote.epigraph footer {
  text-align: right;
  margin-top: 0.5em;
  font-size: 0.9em;
}
